body{
  height: 150%;
}
.b{
  height: 150%;
}
.img{

}
.text-over-img{

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thumbnail {
    position: relative;
}

.caption-trivia {
    
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 150px; /* Set the width of the positioned div */
;
}
.caption-r-p-s {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 150px;
  height: 50px;
}
.caption-info-widget {
    position: absolute;
    top: 45%;
    left: 19%;
    width: 61%;
}
.caption-word-guess {
    position: absolute;
    top: 45%;
    left: 19%;
    width: 61%;
}
.caption-rpg {
    position: absolute;
    top: 45%;
    left: 19%;
    width: 61%;
}
.card-img-overlay{
  padding: 0;
  bottom: 0;
  top:  136px;
}
.card{
  height: 200px ;
  width:  200px ;
  margin-top: 15px;
}
.card-img{
  height: 198px;
  width: 198px;
}
.position-absolute{
  bottom: 0;
}

.bottom-row{
  margin-bottom: 100%;
}